.adventure {
  background-image: url("/static/lion.jpg");
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Poppins-regular;
}
#buttonLink a {
  text-decoration: none;
  color: white;
}
#buttonLink:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}
