.container {
  margin-top: 150px;
}

.textDiv {
  background: url("/static/elephant2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30vh;
  position: relative;
}
.textDiv h3 {
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 100%;
}
