.container {
}

.links a {
  color: black;
  font-family: nunito;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.links a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #ffaf37;
}
.dropLinks a {
  font-size: 20px;
}
.toggle {
}
.bg {
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  margin-bottom: 20px;
}
