.image {
  width: 100%;
  height: auto;
}
.imgText {
  display: flex;
  justify-content: center;

  color: white;
}
@media only screen and (min-width: 700px) {
  .image {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }
  .imgText {
    margin-top: -450px;
    font-size: 45px;
  }
}
@media only screen and (max-width: 700px) {
  .imgText {
    margin-top: -200px;
    font-size: 30px;
    position: fixed;
    padding-left: 30px;
  }
}
