.swiperTextContainer {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}
.swiperTextContainer h3 {
  font-size: 5vw;
  font-family: poppins;
}
.actionImage {
  margin-top: 140px;
}
.actionImage a {
  text-decoration: none;
  color: white;
}
.actionImage a:hover {
  text-decoration: underline;
  color: white;
}
