.imageDiv {
  /* border-radius: 100px 1px 1px 1px; */
  border-radius: 30%;
  overflow: hidden;
}
.mainDiv {
  margin-top: 150px;
}
.directorImage {
  transition: all 4s ease;
  width: 100%;
  height: auto;
}
.directorImage:hover {
  transform: scale(1.1);
}
#title {
  font: 20px Georgia, serif;
  color: #00475a;
  font-weight: bold;
}
.message q {
  font: 1.2rem poppins-regular;
  quotes: "‘" "’" "“" "”";
  display: flex;
  justify-content: center;
}
#container {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#about {
  font: 1.2rem Georgia, serif;
  padding-left: 40px;
  padding-right: 40px;
}
