.footerDiv {
  margin-top: -9px;
  background-image: url("/static/footer.jpg");
  background-position: right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#iconLinks {
  cursor: pointer;
  padding: 25px;
}
.linkedInLink a {
  text-decoration: none;
  color: yellow;
  font-weight: 400;
  font-size: 18px;
}
