.footerDiv {
  margin-top: -9px;
  background-image: url("/static/footer.jpg");
  background-position: right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#iconLinks {
  cursor: pointer;
  padding: 25px;
}
