html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@font-face {
  font-family: Montserrat;
  src: url("../public/fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
  font-family: Opheus;
  src: url("../public/fonts/Orpheus.ttf");
}
@font-face {
  font-family: nunito;
  src: url("../public/fonts/nunito/Nunito-Medium.ttf");
}
@font-face {
  font-family: poppins;
  src: url("../public/fonts/poppins/Poppins-Medium.otf");
}
@font-face {
  font-family: poppins-regular;
  src: url("../public/fonts/poppins/Poppins-Regular.otf");
}
.swiper-button-prev {
  background-image: url("/static/leftArrow.png");
}
.swiper-button-next {
  background-image: url("/static/rightArrow.png");
}
.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: #00475a !important;
  width: 2rem;
  height: 2rem;
}
.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: white;
  padding: 8px;
}
